.box_cliente {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.box_com_titulo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
