.title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #0b0c0d;
  margin-bottom: 12px;
}

.title_container {
  margin-bottom: 52px;
}

.subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #737e88;
  margin-top: 0px;
}

.label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #0b0c0d;
}

.reset_password {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #1a77f2;
  text-decoration: underline;
  margin-top: 12px;
  margin-bottom: 52px;
}

.input {
  background-color: white;
  border: 1px solid #737e88;
  padding: 16px;
  border-radius: 4px;
  font-size: 18px;
  box-shadow: none;
}

.input:focus {
  outline: none;
}

.form_login {
  display: flex;
  flex-direction: column;
  margin: 5% 15% 15% 15%;
}

.form_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.entrar {
  padding: 16px 48px;
  border-radius: 4px;
  background-color: #03b304;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #029703;
}
